<div class="container mt-3">
    <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
        <%= image_tag(@user.avatar, style: " height: 100px; width:100px;border-radius:50%;") if @user.avatar.attached?  %>
        <h3><%= @user.email %></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ex.</p>
    </div>
    <div class="col-1"></div>
        <div class="row">
            <div class="col-10 d-flex justify-content-center gap-2">
                <% @user.links.each do |link| %>
                <% if link.url.length > 1%>
                  <div>
                    <%= link_to  link.url ,target: "_blank", class: "btn btn-primary" do %>
                        <span><%= link.title %></span>
                    <% end %>
                  </div>
                  <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>